#justify{
display: flex;
justify-content: space-between;
}

.primer{
 width: 100px;
background-color: blueviolet;
float: left;
}

.primer:after{
content: "Despues del contenido";
color: burlywood;
}

.primer::before{
    content: "Antes del contenido ";
    color: cornsilk;
}

.principal {
    display: flex;
    flex-direction: column;
}