.card-img{
    filter: opacity(50%);
    width: 100%;
    height: 100%;
}

#derecha{
    display: block;
    text-align: right;
    float: right;
    padding-top: 25%;
    padding-right: 5%;
    padding-left: 0%;
    position: absolute;
}

.navbar-nav.navbar-center {
    position: absolute;
    right: 7%;
}

#pie-de-pagina{
    background-color: rgb(30, 75, 94);
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

a{
    text-decoration: none;
    color: white;
}

#comprar-tickets{
    background-color: rgb(47, 184, 88);
}

#enviar{
    background-color: rgb(123, 196, 63);
    color: white;
}












